<div class='footer'>
  <div class='footer-contents'>
    <div class='Digital-Miracle-details'>
      <ul>
        <li><%= link_to 'Publications', "#", class: "footer-link" %></li>
        <li><%= link_to 'Zines', "#", class: "footer-link" %></li>
        <li><%= link_to 'Books', "#", class: "footer-link" %></li>
        <li><%= link_to 'Magazines', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='Digital-Miracle-details'>
      <ul>
        <li><%= link_to 'Music', "#", class: "footer-link" %></li>
        <li><%= link_to 'Vinyl', "#", class: "footer-link" %></li>
        <li><%= link_to 'Cassette', "#", class: "footer-link" %></li>
        <li><%= link_to 'CD', "#", class: "footer-link" %></li>
        <li><%= link_to 'Labels', "#", class: "footer-link" %></li>

      </ul>
    </div>
    <div class='Digital-Miracle-details'>
      <ul>
        <li><%= link_to 'About', "#", class: "footer-link" %></li>
        <li><%= link_to 'Help', "#", class: "footer-link" %></li>
        <li><%= link_to 'News', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© Digital Miracle</p>
</div>